* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh", sans-serif;
    scroll-behavior: smooth;
}



.navbar {
    background: #e9d362;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #e9d362);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #e9d362);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    margin-left: 0px;
    left: 80px;
    top: 25px;
    text-decoration: none;
    color: white;
    transition: 0.25s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#navbar__logo:hover {
    color: black;
}

.image1 {
    position: relative;
    left: -50px;
    height: 70px;
    width: 55px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 5px;
    border-radius: 5px;
}

.navbar__item {
    width: 80px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar__links {
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 25px;
    color: white;
    transition: 0.25s;
}

.navbar__btn {
    margin-left: 10px;
    background: #FF8008;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 13px;
    border-radius: 10px;
    transition: 0.25s ease;
    margin-right: 5px;
}

.navbar__btn a {
    font-weight: bold;
}

.navbar__btn a:hover {
    color: white;
}

.navbar__btn:hover {
    background: #b75d0a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b08929, #a45104);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b9912c, #b05806);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
}

.navbar__links:hover {
    color: black;
}

@media screen and (max-width: 750px) {
    .navbar__container {
        justify-content: space-between;
        padding: 0;
        display: flex;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        z-index: 1;
    }

    .image1 {
        left: 0px;
    }

    .navbar__menu {
        margin: 0;
        display: flex;
        grid-template-columns: auto;
        width: 100%;
        top: -1000px;
        position: absolute;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        display: inline-block;
        text-align: center;
        justify-content: center;
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;

    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px 8px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2 rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menue {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Hero Section*/
.hero {
    /*background: #000000;
    background: linear-gradient(to right, #161616, #000000);*/
    background: url(Graphics/stars2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px;

}




.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
    margin-top: -70px;

}

.hero__heading {
    font-size: 55px;
    margin-bottom: 24px;
    color: #fff;
}

.hero__heading span {
    background: #544a7d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd452, #544a7d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd452, #544a7d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description {
    font-size: 30px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right,
            #8f0eff,
            #da22ff);

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/*Where ?!!*/
.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@meida screen and (max-width:768px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 35px;
    }
}

/*About Section*/
.main {
    /*background-color: #131313;*/
    padding: 10rem 0;

    background: url(Graphics/stars3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

/*.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 35%;
    height: 30px;
    
}*/


.main__content h1 {
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 1.5rem;
    background: #ff8877;
    background: -webkit-linear-gradient(to right,
            #8f0eff,
            #da22ff);

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1.3rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35rem;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}



/*contact section*/

.contact {
    width: 100%;
    height: 100vh;
    background: url(Graphics/letters2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: #001660;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    height: 85%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: linear-gradient(to right, #e9d362, #333333);
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}


/*Footer section*/
.footer {
    background-color: #24262b;
    margin: 0;
    padding: 70px 0;
    box-sizing: border-box;

}

.footer__container {
    max-width: 1170 px;
    background-color: red;
    margin: auto
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer__col {
    width: 25%;
    padding: 0 15px;
}

.footer__col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}